@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("fontawesome-all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    overflow-x: hidden;
    overflow-y: auto;
  }
  body {
    width: 100vw;
    font-family: "Inter", sans-serif;
  }
  table {
    font-family: Tahoma, arial, verdana, sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }

  .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999 !important;
    @apply bg-white dark:bg-gray-dark;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .preloader .lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    top: 50%;
    left: 50%;
  }
  .preloader .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    @apply bg-gray-dark dark:bg-white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .preloader .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .preloader .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .preloader .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .preloader .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .flex-wrapper {
    display: flex;
    min-height: calc(100vh);
    flex-direction: column;
    justify-content: space-between;
  }

  .copyright {
    font-size: 0.8em;
  }

  .copyright li {
    display: inline-block;
    border-left: solid 1px;
    line-height: 1;
    padding-left: 1em;
    margin-left: 1em;
  }

  .copyright li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }

  @media (max-width: 480px) {
    .copyright li {
      border-left: 0;
      padding-left: 0;
      margin: 0;
      display: block;
      line-height: 2;
    }
    .copyright li:first-child {
      margin-top: 0;
    }
  }

  select {
    font-family: "FontAwesome", "Inter", sans-serif;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23585858' /%3E%3C/svg%3E");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: calc(100%) center;
    text-overflow: ellipsis;
  }

  .language {
    @apply px-3 py-3 text-base font-medium text-dark hover:opacity-90 dark:text-white md:block;
    width: 110px;
    cursor: pointer;
  }

  .status_circle {
    @apply hidden text-base font-medium text-dark hover:opacity-90 dark:text-white md:block;
    display: block;
    padding-left: 30px;
    background-size: 24px 16px;
    white-space: nowrap;
    cursor: pointer;
  }

  .dropdown-content {
    @apply bg-gray-100 dark:bg-gray-700;
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    z-index: 1;
  }

  table {
    @apply border-separate border-spacing-0 whitespace-nowrap text-center text-lg font-medium leading-loose text-black dark:text-white;
  }

  th {
    @apply border-gray-500 bg-sky-200 px-[0.5vw] py-[0.2vw] leading-loose dark:bg-sky-800;
  }

  td {
    @apply border-gray-500 px-[0.5vw] py-[0.2vw] align-middle leading-loose;
  }

  table th {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }

  table td {
    border-bottom: 1px solid;
    border-right: 1px solid;
  }

  table th:first-child,
  table td:first-child {
    border-left: 1px solid;
  }

  table thead th {
    position: sticky;
    top: 0;
  }

  .face-u {
    grid-row: 1;
    grid-column: 2;
    border-right: 2px solid black;
  }

  .face-l {
    grid-row: 2;
    grid-column: 1;
    border-bottom: 2px solid black;
  }

  .face-f {
    grid-row: 2;
    grid-column: 2;
  }

  .face-r {
    grid-row: 2;
    grid-column: 3;
    border-bottom: 2px solid black;
  }

  .face-b {
    grid-row: 2;
    grid-column: 4;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }

  .face-d {
    grid-row: 3;
    grid-column: 2;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }

  .white {
    background-color: white;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: #33cc33;
  }

  .orange {
    background-color: orange;
  }

  .blue {
    background-color: #0070c0;
  }

  .yellow {
    background-color: yellow;
  }

  .help {
    position: relative;
  }

  .help .help-content {
    display: inline-block;
    position: absolute;
    @apply text-dark dark:text-white;
    @apply bg-gray-100 dark:bg-gray-700;
    top: 50%;
    left: 0;
    padding: 5px 10px;
    line-height: 1.5;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    visibility: hidden;
    transform: translate(-100%, -50%);
    white-space: nowrap;
    font-size: 14px;
    z-index: 50;
  }

  .help:hover .help-content,
  .help-content:hover {
    visibility: visible;
  }

  .help:hover .help-content:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #ccc;
  }

  .help a {
    border-bottom: 1px dashed #999;
    cursor: pointer;
  }

  .help a:hover {
    color: #f2849e !important;
  }

  @media (min-width: 1100px) {
    .help .help-content {
      left: auto;
      right: 0;
      transform: translate(100%, -50%);
    }

    .help:hover .help-content:before {
      left: auto;
      right: 100%;
      border-color: transparent #ccc transparent transparent;
    }
  }
}
