/*
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap")
layer(base);
*/
/* cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../webfonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0I5nvwUgHU.woff2)
    format("woff2");
  unicode-range:
    U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../webfonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0I5nvwUgHU.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../webfonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0I5nvwUgHU.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../webfonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0I5nvwUgHU.woff2)
    format("woff2");
  unicode-range:
    U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../webfonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0I5nvwUgHU.woff2)
    format("woff2");
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../webfonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0I5nvwUgHU.woff2)
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../webfonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0I5nvwU.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "FontAwesome";
  font-display: swap;
  src: url(../webfonts/fa-minimal.woff2) format("woff2");
}

.fas {
  font-style: normal;
  font-family: "FontAwesome";
}

.fa-question-circle::before {
  content: "\f059";
}

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 450px;
  --breakpoint-sm: 575px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #121723;
  --color-dark: #1d2430;
  --color-primary: #4a6cf7;
  --color-yellow: #fbb040;
  --color-bg-color-dark: #171c28;

  --color-body-color: #788293;
  --color-body-color-dark: #959cb1;

  --color-stroke-stroke: #e3e8ef;
  --color-stroke-dark: #353943;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;
  --color-gray-dark: #1e232e;
  --color-gray-light: #f0f2f9;

  --shadow-sign-up: 0px 5px 10px rgba(4, 10, 34, 0.2);
  --shadow-one: 0px 2px 3px rgba(7, 7, 77, 0.05);
  --shadow-two: 0px 5px 10px rgba(6, 8, 15, 0.1);
  --shadow-three: 0px 5px 15px rgba(6, 8, 15, 0.05);
  --shadow-sticky: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --shadow-sticky-dark: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
  --shadow-feature-2: 0px 10px 40px rgba(48, 86, 211, 0.12);
  --shadow-submit: 0px 5px 20px rgba(4, 10, 34, 0.1);
  --shadow-submit-dark: 0px 5px 20px rgba(4, 10, 34, 0.1);
  --shadow-btn: 0px 1px 2px rgba(4, 10, 34, 0.15);
  --shadow-btn-hover: 0px 1px 2px rgba(0, 0, 0, 0.15);
  --shadow-btn-light: 0px 1px 2px rgba(0, 0, 0, 0.1);

  --drop-shadow-three: 0px 5px 15px rgba(6, 8, 15, 0.05);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  :root {
    overflow-x: hidden;
    overflow-y: auto;
  }
  body {
    width: 100vw;
    font-family: "Inter", sans-serif;
  }
  table {
    font-family: Tahoma, arial, verdana, sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }

  .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999 !important;
    @apply dark:bg-gray-dark bg-white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .preloader .lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    top: 50%;
    left: 50%;
  }
  .preloader .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    @apply bg-gray-dark dark:bg-white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .preloader .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .preloader .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .preloader .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .preloader .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  .loader {
    z-index: 999999999 !important;
    @apply dark:bg-gray-dark bg-white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .loader .lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    top: 50%;
    left: 50%;
  }
  .loader .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    @apply bg-gray-dark dark:bg-white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loader .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .loader .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .loader .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .loader .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .copyright {
    font-size: 0.8em;
  }

  .copyright li {
    display: inline-block;
    border-left: solid 1px;
    line-height: 1;
    padding-left: 1em;
    margin-left: 1em;
  }

  .copyright li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }

  @media (max-width: 480px) {
    .copyright li {
      border-left: 0;
      padding-left: 0;
      margin: 0;
      display: block;
      line-height: 2;
    }
    .copyright li:first-child {
      margin-top: 0;
    }
  }

  select {
    font-family: "FontAwesome", "Inter", sans-serif;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23585858' /%3E%3C/svg%3E");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: calc(100%) center;
    text-overflow: ellipsis;
    scrollbar-width: thin; /* For Firefox */
  }

  .group-array {
    width: 3.5rem;
  }

  @-moz-document url-prefix() {
    .group-array {
      width: 4rem;
    }
  }

  .language {
    @apply text-dark px-3 py-3 text-base font-medium hover:opacity-90 md:block dark:text-white;
    width: 110px;
    cursor: pointer;
  }

  .status_circle {
    @apply text-dark hidden text-base font-medium hover:opacity-90 md:block dark:text-white;
    display: block;
    padding-left: 30px;
    background-size: 24px 16px;
    white-space: nowrap;
    cursor: pointer;
  }

  .dropdown-content {
    @apply bg-gray-100 dark:bg-gray-700;
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    z-index: 1;
  }

  table {
    @apply border-separate border-spacing-0 text-center text-lg leading-loose font-medium whitespace-nowrap text-black dark:text-white;
  }

  th {
    @apply border-gray-500 bg-sky-200 px-[0.5vw] py-[0.2vw] leading-loose dark:bg-sky-800;
  }

  td {
    @apply border-gray-500 px-[0.5vw] py-[0.2vw] align-middle leading-loose;
  }

  table th {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    @apply border-black dark:border-white;
  }

  table td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    @apply border-black dark:border-white;
  }

  table th:first-child,
  table td:first-child {
    border-left: 1px solid;
    @apply border-black dark:border-white;
  }

  table thead th {
    top: 0;
  }

  .face-u {
    grid-row: 1;
    grid-column: 2;
    border-right: 2px solid black;
  }

  .face-l {
    grid-row: 2;
    grid-column: 1;
    border-bottom: 2px solid black;
  }

  .face-f {
    grid-row: 2;
    grid-column: 2;
  }

  .face-r {
    grid-row: 2;
    grid-column: 3;
    border-bottom: 2px solid black;
  }

  .face-b {
    grid-row: 2;
    grid-column: 4;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }

  .face-d {
    grid-row: 3;
    grid-column: 2;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }

  .white {
    background-color: white;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: #33cc33;
  }

  .orange {
    background-color: orange;
  }

  .blue {
    background-color: #0070c0;
  }

  .yellow {
    background-color: yellow;
  }

  .help {
    position: relative;
  }

  .help .help-content,
  .triangle {
    position: absolute;
    visibility: hidden;
    top: 50%;
  }

  .help .help-content {
    display: inline-block;
    @apply text-dark bg-gray-100 dark:bg-gray-700 dark:text-white;
    left: 0;
    padding: 5px 10px;
    line-height: 1.5;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    transform: translate(-100%, -50%);
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: max-content;
    font-size: 14px;
    z-index: 50;
  }

  .help:hover .help-content,
  .help-content:hover,
  .help:hover .triangle {
    visibility: visible;
  }

  .dashed-link {
    border-bottom: 1px dashed #999;
    cursor: pointer;
  }

  .dashed-link:hover {
    color: #f2849e !important;
  }

  .triangle {
    left: 0;
    right: auto;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #ccc;
  }

  @media (min-width: 1100px) {
    .help .help-content {
      left: auto;
      right: 0;
      transform: translate(100%, -50%);
    }

    .triangle {
      left: auto;
      right: 0;
      border-color: transparent #ccc transparent transparent;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
}
