/* Language */

    .translate {
        float: right;
        width: 92px;
        line-height: 16px;
        cursor: pointer;
        margin-top: 8px;
        margin-right: 5px;
        font-size: 16px;
    }

    .status_circle {
        padding-left: 28px;
        background: url(../../images/zh.png) no-repeat left bottom;
        background-size: 24px 16px;
    }

    .status_circle_hide {
        padding-left: 32px;
        background: url(../../images/en.png) no-repeat left bottom;
        background-size: 24px 16px;
    }