gspread == 6.1.3
rubikscubennnsolver @ git+https://github.com/dwalton76/rubiks-cube-NxNxN-solver@c776db79314db3d98cc3dd99685ca85766656937
commutator @ git+https://github.com/nbwzx/commutator.py@7af53e26ff74bd3166df165b5046c86e05e1fb2b
loguru == 0.7.2
git+https://github.com/jonasgrunert/scrapetube-fix.git@master#egg=scrapetube
bs4 == 0.0.2